{{!-- <h1>Blog posts will appear here</h1> --}}

{{#each blogPosts as |blogPost| }}
<div>
    <div>
        <h2 class="border">
            <a href="/blogpost/{{blogPost.id}}">{{blogPost.title}}</a>
        </h2>
    </div>
    <div>
        <p class="border">
            {{blogPost.content}}
        </p>
    </div>
</div>
{{/each}}



