<div>
    <h2>Login</h2>
    <form action="login" class="login-form">
        <label for="email-login">email:</label>
        <input type="text" id="email-login">
        <label for="password-login">password:</label>
        <input type="password" id="password-login">
        <button type="submit">
            Login
        </button>
    </form>
</div>

<script src="/js/login.js"></script>